<div class="container mt-4 ">
    <div class="card bg-light">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="\assets\image\springlogo.png" alt="logo" height="40"  >
            </div>
          
            <div class="quiz-header">
                <h4 style="font-family: cursive;">Spring Quiz</h4>
                <span style="font-style: italic;">Welcome User</span>
            </div>
        </div>
        <div class="d-flex justify-content-around py3">
            <div class="score">
              20 points
            </div>
            <div class="question-remain">
                Question 1 of 9
            </div>
            <div class="timer">
                10 sec
            </div>
        </div>

</div>

</div>